<a href="https://colab.research.google.com/github/fattahsamit/ml/blob/main/pandas/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# # Uploading data in colab

# from google.colab import files

# uploaded = files.upload()

# for fn in uploaded.keys():
#   print('User uploaded file "{name}" with length {length} bytes'.format(
#       name=fn, length=len(uploaded[fn])))

In [ ]:
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive

Mounted at /gdrive
/gdrive

In [ ]:
# !pip install pandas

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
path1 = "/gdrive/MyDrive/ml/machine learning/dataset/example_excel.csv"
path2 = "/gdrive/MyDrive/ml/machine learning/dataset/example_excel_2.csv"

df = pd.read_csv(path1)
df2 = pd.read_csv(path2, delimiter='-')

print(df)
print(df2)

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15
        ,a,b,c,d
0      0,0,1,2,3
1      1,4,5,6,7
2    2,8,9,10,11
3  3,12,13,14,15

In [ ]:
# !pip install xlrd
# !pip install openpyxl

path3 = "/gdrive/MyDrive/ml/machine learning/dataset/example_excel_2.xlsx"
path4 = "/gdrive/MyDrive/ml/machine learning/dataset/example_excel.xlsx"

df = pd.read_excel(path3)
df2 = pd.read_excel(path4, sheet_name = 1)

df2

   Unnamed: 0   h   g   f   e
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [ ]:
!pip install lxml
!pip install html5lib
!pip install BeautifulSoup4

Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (4.2.6)
Requirement already satisfied: html5lib in /usr/local/lib/python3.7/dist-packages (1.0.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from html5lib) (1.15.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.7/dist-packages (from html5lib) (0.5.1)
Requirement already satisfied: BeautifulSoup4 in /usr/local/lib/python3.7/dist-packages (4.6.3)

In [ ]:
df = pd.read_html('https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list')

df[0]

,Bank NameBank,CityCity,StateSt,CertCert,Acquiring InstitutionAI,Closing DateClosing,FundFund
0,Almena State Bank,Almena,KS,15426,Equity Bank,"October 23, 2020",10538
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb","October 16, 2020",10537
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.","April 3, 2020",10536
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,"February 14, 2020",10535
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,"November 1, 2019",10534
...,...,...,...,...,...,...,...
558,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001",6004
559,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001",4648
560,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001",4647
561,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000",4646
562,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000",4645

In [41]:
import numpy as np
import pandas as pd

In [42]:
labels = 'A B C D'.split()
my_data = [1,2,3,4]

arr = np.array(my_data)

dic = {'A':1, 'B':2, 'C':3, 'D':4}
dic2 = {'A':1, 'B':2, 'C':3, 'E':4}

In [43]:
# sr = pd.Series(data = my_data, index = labels)
# sr = pd.Series(my_data, labels)
# sr = pd.Series(arr, labels)

sr = pd.Series(dic)
sr2  = pd.Series(dic2)

sr

A    1
B    2
C    3
D    4
dtype: int64

In [44]:
sr['B']

2

In [45]:
sr + sr2

A    2.0
B    4.0
C    6.0
D    NaN
E    NaN
dtype: float64